@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
}

.continue-btn {
  /* placement */
  display: grid;
  margin-left: 29vw;
  /* aesthetic */
  background-color: white;
  border-radius: 40px;
  border: none;
  padding: 0 40px;
  font-size: 25px;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.huge {
  font-size: 300px;
  padding: 0;
  margin: 0;
  color: white;
  text-align: center;
  font-weight: lighter;
}

.containerB, .containerC, .containerD {
  display: grid;
  grid-template-rows: 10vh 90vh 10vh;
}

.lilac {
  background-color: #5f8bf7;
}

.purple {
  background-color: #4c3971;
}